{% extends "layouts/base.html" %}

{% block customhead %}
<style>
    .card {
        width: 30rem;
        height: 15rem;
        margin-left: 3.5rem;
    }

    .card-body h3 {
        font-weight: bolder;
        font-size: 35px;
        color: rgb(41, 41, 41);
    }

    .chart-col {
        margin-left: 3.5%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .card-content {
        font-size: 120px;
        font-weight: bold;
        float: right;
    }
</style>
<script type="text/javascript" src="{{ url_for('static', filename='chartjs/chartjs.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/day.js') }}"></script>
{% endblock %}


{% block content %}
<div class="row" style="margin: 0;">
    <div class="col-md-4">
        <div class="card" style="background-color: rgb(0, 166, 0); border-color: rgb(0, 166, 0);">
            <div class="card-body">
                <h3 class="card-title">Data Abstracts</h3>
                <p class="card-content">{{ total_abstracts }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="background-color: rgb(255, 217, 0); border-color: rgb(255, 217, 0);">
            <div class="card-body">
                <h3 class="card-title">Checked Abstracts</h3>
                <p class="card-content">{{ total_scanned }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color: rgb(59, 177, 255); border-color: rgb(59, 177, 255);">
            <div class="card-body">
                <h3 class="card-title">Average Plagiarism</h3>
                <p class="card-content">{{ avg_plagiarism }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row chart">
    <div class="col-md-1">
    </div>
    <div class="col-md-9 chart-col">
        <p class="text-center" style="font-size: 24px; font-weight: bold; margin-bottom: 5rem;">Diagram</p>
        <canvas id="chart"></canvas>
    </div>
</div>
{% endblock %}

{% block customfooter %}
<script type="text/javascript">
    const ctx = document.getElementById('chart');
    const data = {{ graph|tojson }};
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data.map((row) => {
            console.log(row.scanning_time) 
            return dayjs(row.scanning_time).format("YYYY-M-D H:m:s");
            // return `${date.$y()}-${date.getMonth()}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
        }),
        datasets: [
          {
            barPercentage: 0.3,
            label: 'Percentase Plagiarisme',
            data: data.map(row => row.percentage), 
            backgroundColor: "rgb(19, 147, 232)"
          }
        ]
      }, 
      options: {
        scales: {
            x: {
                grid: {
                    display: false
                }
            }, 
            y: {
                ticks: {
                    min: 0,
                    max: 100,
                    callback: (value) => {return value+"%"}
                }
            }, 
        }, 
        plugins: {
            legend: {
                position: "bottom"
            }
        }, 
      }
    });
</script>
{% endblock %}